body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b5ccdf;
}

h1, h3 {
    color: #333;
    text-align: center;
}

h2 {
    text-align: center;
}

form {
    background-color: #e0d2d2;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #5cb85c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4e6e91;
}

p {
    text-align: center;
}

a {
    color: #36689e;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.secured-page {
    text-align: center;
    margin-top: 20px;
}

.secured-page p {
    font-size: 1.2em;
    
}

.secured-page button {
    margin-left: 0%;
}